/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            sensor-bindings = <&inc_dec_kp 0xC00E9 0xC00EA>;
        };
    };
};